**/__pycache__
**/.scannerwork
**/*.egg-info
*.zip
.idea
**.iml
venv
.vscode
sample
**/coverage.*
**/.coverage
**/terraform.tfstate
**/.terraform/**
**/htmlcov/**
.DS_Store
.bashrc
.ruff_cache
htmlcov
